@use"sass:map";
@import "theme";

html,
body{
    margin: 0;
}
*{
    font-family: Roboto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/assets/loginBackground.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    width: 100%;
}

.account-container{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}