.button-container{
    display: flex;
    justify-content: end;
}

.btn{
    display: flex;
    justify-content: space-between;
}

.sort{
    display: flex;
    justify-content: space-between;
    i{
        cursor: pointer;
        padding: 0 1px;
    }
}